.weather-data {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 47.9em;

}
.weather-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50em;
}
.loading-spinner-wrapper{
  background-color: red;
}